@charset "utf-8";

html{
  scroll-behavior: smooth;
  font-size: 62.5%;
  height: 100%;
  width: 100%;
}

body{
  width: 100%;
  height: 100%;
  background-image: url("NEW DENIMS2/white.jpg");
}

/* ヘッダー---------------------------------------------------------------- */

header{
  width: 100%;
  height: 20rem;
  position: relative;
}

.header__title{
  text-align: center;
  margin-top: 3rem;
}

.header__title h1{
  font-size: 5.2rem;
  margin-bottom: 2rem;
  font-family: 'DM Serif Text', serif;
}

.header__title h2{
  font-size: 2.5rem;
  font-family: 'DM Serif Text', serif;
  color: rgb(61, 57, 57);
}

.header__menu{
  margin-top: 4.5rem;
  display: flex;
  justify-content: center;
}

.header__menu--ul{
  text-decoration: none;
  display: flex;
  font-size: 1.5rem;
  font-family: 'DM Serif Text', serif;
}

.header__menu--li{
  margin: 0 4rem;
  list-style: none;
}

.header__menu--li a{
  text-decoration: none;
  color: black;
}




.main__title{
  margin: 7rem 0 0 0 ;
  text-align: center;
  font-size: 5rem;
  font-family: 'DM Serif Text', serif;
}



/* セクション１----------------------------------------------------------------- */

.section1{
  height: 60rem;
}

.section1__img {
  text-align: center;
  position: relative;
}

.section1__img img{
  width: 60rem;
}


#app {
  position: absolute;
  left: 32%;
  top: 10rem;
  font-size: 5rem;
  font-family: 'DM Serif Text', serif;
  color: #BAB410;
}

#typewriter::after {
  content: "|";
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes blink {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}



.section1__img--des{
  position: absolute;
  left: 15rem;
  margin-top: 5rem;
  font-family: 'DM Serif Text', serif;
  font-size: 2rem;
  text-align: left;
}

/* セクション２------------------------------------------------------------------------------------ */

.section2{
  height: 90rem;
}



.main__img--ul{
  display: flex;
  justify-content: space-around;
}

.main__img--li img{
  width: 20rem;
  margin-bottom: 2rem;
}

.main__img--many-denims-high{
  margin: 10rem 0;
}

.main__img--many-denims-low{
  margin-bottom: 20rem;
}

.main__img--li{
  text-align: center;
  opacity: 0;
  transition: 1s;
  transform: translateY(5rem);
}

.main__img--li.show{
  opacity: 1;
  transform: none;
}

.main__img--li-name{
  margin-bottom: 10rem;
  background-color: white;
  width: 15rem;
  height: 4rem;
  padding-top: .5rem;
}

.main__img--li-h3{
  color: #BAB410;
  font-family: 'DM Serif Text', serif;
}

.main__img--li a{
  text-decoration: none;
  color: black;
  font-family: 'DM Serif Text', serif;
}
















/* セクション９------------------------------------------------------------------ */

.section9{
 height: 200rem;
}

.fascinating__title{
  text-align: center;
  margin: 2rem 0 7rem;
}

.fascinating__title h1{
  font-size: 4rem;
  font-family: 'DM Serif Text', serif;
  margin: 10rem 0 2rem
}

.fascinating__title h2{
  font-size: 1.5rem;
  font-family: 'DM Serif Text', serif;
}

.fascinating__title--h2{
  margin-bottom: .2rem;
}



.fascinating__main-img{
  margin: 0 5rem;
  text-align: center;
}

.fascinating__main-img img{
  width: 70rem;
  margin-bottom: 15rem;
}

.fascinating__main--sentence-title{
  text-align: center;
  font-size: 3rem;
}

.fascinating__main--sentence-title h1{
  font-size: 4rem;
  font-family: 'DM Serif Text', serif;
  margin-bottom: 2rem;
}

.fascinating__main--sentence-contents{
  position: relative;
}

.fascinating__main--sentence-contents-1{
  display: flex;
}



.fascinating__main--sentence-contents-1-img{  
  position: absolute;
  left: 55%;
  top: 6rem;
}

.fascinating__main--sentence-contents-1-img img{
  width: 35rem;
}

.fascinating__main--sentence-contents-h3{
  font-size: 2rem;
  color: black;
  font-family: 'DM Serif Text', serif;
  position: absolute;
  left: 8%;
  top: 6rem;
  letter-spacing: .2rem;
  line-height:4rem;
  padding: 1rem;
}



.fascinating__main--sentence-contents-2-img{
  margin: 3rem;  
  position: absolute;
  left: 4%;
  top: 65rem;
}

.fascinating__main--sentence-contents-2-img img{
  width: 35rem;
}

.fascinating__main--sentence-contents-h3-2{
  position: absolute;
  left: 58%;
  top: 68rem;
  font-size: 2rem;
  font-family: 'DM Serif Text', serif;
  letter-spacing: .2rem;
  line-height:4rem;
  padding: 1rem;
}


























/* フッター------------------------------------------------------------ */


footer{
  width: 100%;
  height: 10rem;
  position: relative;
}

.footer__title{
  position: absolute;
  left: 3rem;
  top: 7rem;
  font-size: 1rem;
  font-family: 'DM Serif Text', serif;
  font-weight: 800;
}


.footer__menu--ul{
  display: flex;
  position: absolute;
  left: 15rem;
  top: 7rem;
  font-family: 'DM Serif Text', serif;
  font-size: 1rem;
}

.footer__menu--li{
  padding-left: 1rem;
  margin:0 1rem ;
  border-left: .15rem solid black;
  font-weight: 800;
}

